POSTGRES_DB=marketplace_db
POSTGRES_USER=marketplace_user
POSTGRES_PASSWORD=change_me_db_password

SPRING_SECURITY_USER_NAME=admin
SPRING_SECURITY_USER_PASSWORD=change_me_app_password

JWT_SECRET=change_me_jwt_secret_min_32_chars

APP_PORT=8082
